@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: "Lato", sans-serif;
    background-color: #f5f5f5;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}


.user-icon {
    height: 30px;
    border-radius: 100%;
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link .right-icon {
    transition: all 0.5s;
}


.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}



@media (min-width: 992px) {

    .offcanvas-backdrop {
        display: none !important;
    }

    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
    }

    main {
        margin-left: var(--offcanvas-width);
    }
}

@media (max-width: 480px) {
    .card {
        margin-bottom: 20px !important;
        /* space between stacked cards */
    }

    .dashboard-tabs .nav-tabs .nav-link {
        padding: 5px;
        font-size: 13px;
    }
}

#suggestions {
    position: absolute;       /* float below input */
    top: 100%;                /* right below the input */
    left: 0;
    background: #fff;         /* white background */
    border: 1px solid ;   /* border */
    width: 100%;              /* match input width */
    max-height: 200px;        /* scroll if too long */
    overflow-y: auto;
    z-index: 1000;            /* stay on top */
}

.autocomplete-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete-list li {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: #f0f0f0;
}
